
RewriteEngine on
RewriteCond %{HTTP_HOST} ^paniolobuilders\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.paniolobuilders\.com$
RewriteRule ^/?$ "http\:\/\/tequabuilders\.com\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^paniolobuilders\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.paniolobuilders\.com$
RewriteRule ^about$ "http\:\/\/tequabuilders\.com\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^paniolobuilders\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.paniolobuilders\.com$
RewriteRule ^services$ "http\:\/\/tequabuilders\.com\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^paniolobuilders\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.paniolobuilders\.com$
RewriteRule ^about\-us$ "http\:\/\/tequabuilders\.com\/" [R=301,L]

RewriteCond %{HTTP_HOST} ^paniolobuilders\.com$ [OR]
RewriteCond %{HTTP_HOST} ^www\.paniolobuilders\.com$
RewriteRule ^contact$ "http\:\/\/tequabuilders\.com\/" [R=301,L]