<IfModule mod_rewrite.c>

# Redirect index.php to /
RewriteCond %{QUERY_STRING} ^$
RewriteCond %{REQUEST_METHOD} !^POST$
RewriteRule ^index\.php$ / [R=301,L]

# Redirect from www.
RewriteCond %{HTTP_HOST} ^www.domain.com$
RewriteRule (.*) http://domain.com/$1 [R=301,L] 

# Redirect Urls (Permanent)

</IfModule>

# Apache Rewrite Rules

 <IfModule mod_rewrite.c>

    RewriteEngine On
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteRule ^([^\.]+)$ $1.php [NC,L]

 </IfModule>

## GZIP COMPRESSION ##

    AddOutputFilterByType DEFLATE text/plain
    AddOutputFilterByType DEFLATE text/html
    AddOutputFilterByType DEFLATE text/xml
    AddOutputFilterByType DEFLATE text/css
    AddOutputFilterByType DEFLATE application/xml
    AddOutputFilterByType DEFLATE application/xhtml+xml
    AddOutputFilterByType DEFLATE application/rss+xml
    AddOutputFilterByType DEFLATE application/javascript
    AddOutputFilterByType DEFLATE application/x-javascript
    AddOutputFilterByType DEFLATE image/svg+xml

## GZIP COMPRESSION ##